In [1]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
#load csv into dataframe
city_df = pd.read_csv("WeatherPy_cites.csv")
city_df.head()

                 city      lat       lon   temp  cloud  Wind speed  Humidity
0        Puerto Ayora  -0.7393  -90.3518  25.00     50        2.78        94
1           Esperance -33.8667  121.9000  17.00     90        6.69        94
2               Bluff -46.6000  168.3333  16.00      1        5.71        79
3               Gazli  40.1333   63.4500  10.17    100        2.77        59
4  Acapulco de Juárez  16.8634  -99.8901  23.79      0        1.53        77

In [3]:
city_df.dropna(how='any')

                   city      lat       lon   temp  cloud  Wind speed  Humidity
0          Puerto Ayora  -0.7393  -90.3518  25.00     50        2.78        94
1             Esperance -33.8667  121.9000  17.00     90        6.69        94
2                 Bluff -46.6000  168.3333  16.00      1        5.71        79
3                 Gazli  40.1333   63.4500  10.17    100        2.77        59
4    Acapulco de Juárez  16.8634  -99.8901  23.79      0        1.53        77
..                  ...      ...       ...    ...    ...         ...       ...
299           Piaçabuçu -10.4056  -36.4344  25.12     84        5.21        84
300               Terme  41.2092   36.9739   4.00      0        0.51        93
301             Gobabis -22.4500   18.9667  19.57      0        2.33        79
302             College  64.8569 -147.8028 -20.91     90        1.02        77
303          Miraflores  19.2167  -98.8083  17.88      1        1.54        42

[304 rows x 7 columns]

In [4]:
# Variables for heat map

place = city_df[['lat','lon' ]]
humidity = city_df['Humidity'].astype(float)

In [5]:
# create heat map

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(place, weights=humidity, 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
Vacation_df = city_df[city_df['temp']>=20] 
Vacation_df = Vacation_df[Vacation_df['temp']<=30] 
Vacation_df = Vacation_df[Vacation_df['Wind speed']<=30] 
Vacation_df = Vacation_df[Vacation_df['cloud']<=10]

In [8]:
Vacation_df

                   city      lat       lon   temp  cloud  Wind speed  Humidity
4    Acapulco de Juárez  16.8634  -99.8901  23.79      0        1.53        77
23              Te Anau -45.4167  167.7167  23.25      0        3.36        38
49       Port Elizabeth -33.9180   25.5701  20.00      0        5.14        77
51             Imbituba -28.2400  -48.6703  20.00      0        1.54        88
73               Faanui -16.4833 -151.7500  28.04      1        4.75        68
74              Bhachāu  23.2833   70.3500  23.77      0        6.20        24
77          El Salvador  13.8333  -88.9167  22.00      0        1.54        83
82                 Tezu  27.9167   96.1667  25.20      5        1.99        18
90       Saint-Philippe -21.3585   55.7679  26.29      0        2.57        70
91          Cootamundra -34.6500  148.0333  27.22      1        1.79        42
113       Makakilo City  21.3469 -158.0858  23.57      1        5.14        49
116            San Juan -31.5375  -68.5364  27.17      0        5.00        40
161                 Sur  22.5667   59.5289  21.14      0        2.46        55
202             Iquitos  -3.7481  -73.2472  24.00      0        0.33        94
203              Teknāf  20.8624   92.3058  25.71      0        6.15        38
206              Cumbum   9.7333   77.3000  26.23      2        2.47        38
218          Deniliquin -35.5333  144.9667  25.56      0        1.34        37
231           Hong Kong  22.2855  114.1577  22.39      0        4.12        32
243    Puerto Escondido  15.8500  -97.0667  24.79      2        2.32        75
272              Zhuhai  22.2769  113.5678  25.46      0        2.57        78
273              Rājula  21.0500   71.4333  25.32      0        6.49        23

In [9]:
Hotel_df = Vacation_df
Hotel_df['Hotel Name'] = np.nan
Hotel_df

,city,lat,lon,temp,cloud,Wind speed,Humidity,Hotel Name
4,Acapulco de Juárez,16.8634,-99.8901,23.79,0,1.53,77,NaN
23,Te Anau,-45.4167,167.7167,23.25,0,3.36,38,NaN
49,Port Elizabeth,-33.9180,25.5701,20.00,0,5.14,77,NaN
51,Imbituba,-28.2400,-48.6703,20.00,0,1.54,88,NaN
73,Faanui,-16.4833,-151.7500,28.04,1,4.75,68,NaN
74,Bhachāu,23.2833,70.3500,23.77,0,6.20,24,NaN
77,El Salvador,13.8333,-88.9167,22.00,0,1.54,83,NaN
82,Tezu,27.9167,96.1667,25.20,5,1.99,18,NaN
90,Saint-Philippe,-21.3585,55.7679,26.29,0,2.57,70,NaN
91,Cootamundra,-34.6500,148.0333,27.22,1,1.79,42,NaN
113,Makakilo City,21.3469,-158.0858,23.57,1,5.14,49,NaN
116,San Juan,-31.5375,-68.5364,27.17,0,5.00,40,NaN
161,Sur,22.5667,59.5289,21.14,0,2.46,55,NaN
202,Iquitos,-3.7481,-73.2472,24.00,0,0.33,94,NaN
203,Teknāf,20.8624,92.3058,25.71,0,6.15,38,NaN
206,Cumbum,9.7333,77.3000,26.23,2,2.47,38,NaN
218,Deniliquin,-35.5333,144.9667,25.56,0,1.34,37,NaN
231,Hong Kong,22.2855,114.1577,22.39,0,4.12,32,NaN
243,Puerto Escondido,15.8500,-97.0667,24.79,2,2.32,75,NaN
272,Zhuhai,22.2769,113.5678,25.46,0,2.57,78,NaN
273,Rājula,21.0500,71.4333,25.32,0,6.49,23,NaN

In [22]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
    }

for index, row in Hotel_df.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lon"]

    params["location"] = f'{lat},{lng}'
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        Hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except:
        Hotel_df.loc[index, 'Hotel Name'] = np.nan

In [23]:
Hotel_df.head()

,city,lat,lon,temp,cloud,Wind speed,Humidity,Hotel Name
4,Acapulco de Juárez,16.8634,-99.8901,23.79,0,1.53,77,HS Hotsson Smart Acapulco
23,Te Anau,-45.4167,167.7167,23.25,0,3.36,38,Kingsgate Hotel Te Anau
49,Port Elizabeth,-33.9180,25.5701,20.00,0,5.14,77,39 On Nile Guest House
51,Imbituba,-28.2400,-48.6703,20.00,0,1.54,88,Praia Hotel Imbituba
73,Faanui,-16.4833,-151.7500,28.04,1,4.75,68,Bora-Bora Pearl Beach Resort & Spa

In [2]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Hotel_df.iterrows()]
locations = Hotel_df[["lat", "lon"]]


markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)
fig.add_layer(markers)